@use "base/variables" as v;
@use "base/mixins" as m;

.paginacion{
    padding: v.$separacion 0 ;

    @include m.telefono{
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
    }

    position: relative;
}

.ocultar{
    visibility: hidden;

}