@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app{
    @include m.desktop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;

    }

    .imagen{
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.desktop{
            height: auto;
        }
    }

    .app{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet{
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 2rem;
        }
    }
}

.barra{
    margin-bottom: 5rem;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }

    .boton{
        @include m.boton(v.$negro, v.$blanco);

        margin: 0;
        line-height: 33px;
    }
}